.footer {
  padding: 20px 0;
  background-color: #f8f9fa;
}

.footer .app-name {
  color: rgb(243, 84, 10); /* Color changed to orange */
  font-size: 2rem; /* Increased font size */
  font-weight: bold; /* Made text bold */
  font-family: 'Poppins'; /* Changed font family */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2); /* Added text shadow */
  margin: 0; /* Reset margin */
}

.footer h5 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 500;
}

.footer .list-inline {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer .list-inline-item {
  display: inline-block;
  margin: 0 10px;
}

.footer .list-inline-item a {
  color: #6c757d;
  font-size: 1.5rem;
  text-decoration: none;
}

.footer .list-inline-item a:hover {
  color: #343a40;
}

.footer p {
  margin: 0;
}
